<!DOCTYPE html>
<!-- Author: John Laygo & Corey Rogers
    Date: 04/24/2020
-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pets</title>
    <link rel="stylesheet" href="styles/pets.css" >
</head>
<body>
<div>
    <h1>Pets!</h1>
    <p>We love them, and you should too!  We've provided a link below for the
        Seattle Animal Shelter, where you can find a pet to adopt.</p>

    <img src="images/dog.jpg" alt="Dog with one floppy ear">
    <div id="image">
        <a href="https://www.seattle.gov/animalshelter">Adopt a pet at Seattle's animal shelter</a>
    </div>

</div>
</body>
</html>